body {
    background-color: #f4f6f9;
}
.form-card {
    max-width: 700px;
    margin: auto;
    border: none;
    border-radius: 1rem;
}
.form-card h4 {
    font-weight: 600;
}
label {
    font-weight: 500;
}
.form-section-title {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #0d6efd;
    margin-bottom: 1rem;
}
.form-section-title i {
    margin-right: 0.5rem;
} 